name: Build PDF Manual and Vignettes

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: rocker/verse:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install dependencies
        run: |
          install.packages(c("devtools", "roxygen2", "rmarkdown", "knitr"))
        shell: Rscript {0}

      - name: Build vignettes
        run: |
          devtools::build_vignettes()
        shell: Rscript {0}

      - name: Install LaTeX packages
        run: tlmgr install amsfonts

      - name: Build PDF manual
        run: |
          R CMD Rd2pdf . --output=jgg-manual.pdf

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jgg-docs
          path: |
            jgg-manual.pdf
            inst/doc
